body {
	font-family: 'Roboto', sans-serif;
	background-color: white;
	min-width: 960px;
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
	padding: 0;
}

#nav_bar {
	text-align: center;
	background-color: #4d2700;
	margin:0;
	padding-top: 10px;
	padding-bottom: 10px;
}

#nav_list {
	list-style: none;
	display:inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
}

#nav_list a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

#nav_list li {
	display: inline-block;
	color: white;
	font-size: 20px;
}

.border-list {
	border-right: solid;
	padding-right: 15px;
	padding-left: 15px;
}

#first_page {
	padding-left: 0;
}

#current_page {
	background-color: #105d73;
}

#last_page {
	border-right: none;
	padding-right: 0;
}

/*Resume Stuff*/

#resume {
	width: 960px;
	height: 800px;
}

#resume_container {
	text-align: center;
	margin-top: 70px;
}